
<!-- main content -->
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Add Course</h2>
            <small class="text-muted">Welcome to Kingster University application</small>
        </div>
        <div class="row clearfix">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="card">
					<div class="header">
						<h2>Course Basic Information <small>Description text here...</small> </h2>
						<ul class="header-dropdown">
							<li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
								<ul class="dropdown-menu pull-right">
									<li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
									<li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
									<li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="body">                        
                                <form method="post" action="/admin/addcourse">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Course Name" name="course">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="datepicker form-control" placeholder="Starts From" name="date">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Course Duration" name="duration">
                                    </div>
                                </div>
                            </div>  
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="number" class="form-control" placeholder="Registration Fee" name="registrationfee">
                                    </div>
                                </div>
                            </div>                          
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="number" class="form-control" placeholder="Course Price" name="price">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                         <select class="form-control show-tick" name="HOD">
                                        <option value="">-- Select --</option>
                                        {{#each getDepartment}}
                                        <option value="{{this._id}}">{{this.HOD}}</option>
                                        {{/each}}
                                
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group drop-custum">
                                    <select class="form-control show-tick" name="qualification">
                                        <option value="">-- Select --</option>
                                        {{#each getqualificaton}}
                                        <option value="{{this._id}}">{{this.qualification}}</option>
                                        {{/each}}
                                
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="number" class="form-control" placeholder="Enter the YEAR" name="year">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <select class="form-control show-tick" name="department">
                                        <option value="">-- Select --</option>
                                        {{#each getDepartment}}
                                        <option value="{{this._id}}">{{this.department}}</option>
                                        {{/each}}
                                
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <textarea rows="4" class="form-control no-resize" placeholder="Course Description" name="discription"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button  onclick="sweetalert()" type="submit" class="btn btn-raised btn-default waves-effect" data-placement-from="top" data-placement-align="center"
                                            data-animate-enter="" data-animate-exit="" data-color-name="bg-black"> Submit </button>
                                <button type="reset" class="btn btn-raised btn-default waves-effect">Cancel</button>
                            </div>
                            </form>
                        </div>
                    </div>
				</div>
			</div>
		</div>        
</section>
<!-- main content -->

<div class="color-bg"></div>
<script>
    function sweetalert(){
     swal("Add Successfully!");
    }
   
</script>
