<!--Side menu and right menu -->

<!-- main content -->
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Dashboard</h2>
            <small class="text-muted">Welcome to Kingster University</small>
        </div>

        <div class="row clearfix top-report">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="card">
                    <div class="body">
                        <h3>{{dashbord.totaladmissions}}</h3>
                        <p class="text-muted">New Admission</p>
                        <div class="progressbar-xs progress-rounded progress-striped progress ng-isolate-scope">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="68"
                                aria-valuemin="0" aria-valuemax="100" style="width: 68%;"></div>
                        </div>
                        <span class="text-small">10% higher than last month</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="card">
                    <div class="body">
                        <h3>{{dashbord.totaluser}}</h3>
                        <p class="text-muted">Total Students</p>
                        <div class="progressbar-xs progress-rounded progress-striped progress ng-isolate-scope">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="68"
                                aria-valuemin="0" aria-valuemax="100" style="width: 68%;"></div>
                        </div>
                        <span class="text-small">4% higher than last month</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="card">
                    <div class="body">
                        <h3>{{dashbord.totalprograms}}</h3>
                        <p class="text-muted">Total No. of Programs</p>
                        <div class="progressbar-xs progress-rounded progress-striped progress ng-isolate-scope">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="68"
                                aria-valuemin="0" aria-valuemax="100" style="width: 68%;"></div>
                        </div>
                        <span class="text-small">4% higher than last month</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="card">
                    <div class="body">
                        <h3>₹{{totalamount.[0].fieldN}}</h3>
                        <p class="text-muted">Total Earnings(Years)</p>
                        <div class="progressbar-xs progress-rounded progress-striped progress ng-isolate-scope">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="68"
                                aria-valuemin="0" aria-valuemax="100" style="width: 68%;"></div>
                        </div>
                        <span class="text-small">15% higher than last month</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card">
                    <div class="header">
                        <h2>University Earnings</h2>
                      
                    </div>
                    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


<div id="myPlot" style="width:100%;max-width:700px"></div>

<script>
var xArray = [0, 0, {{dashbord.totaladmissions}}, 0];
var yArray = ["Week-1 ", "Week-2 ", "Week-3 ", "Week-4 "];

var data = [{
  x:xArray,
  y:yArray,
  type:"bar",
  orientation:"h",
  marker: {color:"rgba(255,0,0,0.6)"}
}];

var layout = {title:"World Wide Wine Production"};

Plotly.newPlot("myPlot", data, layout);
</script>
                </div>
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card">
                    <div id="myChart" style="width:100%; max-width:600px; height:500px;">
                    </div>

                 

                </div>
            </div>
        </div>
</section>
<!-- main content -->

<div class="color-bg"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

   <script>
                        google.charts.load('current', { 'packages': ['corechart'] });
                        google.charts.setOnLoadCallback(drawChart);

                        function drawChart() {
                            var data = google.visualization.arrayToDataTable([
                                ['Year', 'Mhl'],
                                ['2020', {{dashbord.amountTwo}}],
                                ['2021', {{totalamount.[0].fieldN}}],
                                ['2022', {{dashbord.amountThree}}],
                                ['2023',{{dashbord.amountFour}}]
                            ]);

                            var options = {
                                title: 'University Earnings',
                                is3D: true
                            };

                            var chart = new google.visualization.PieChart(document.getElementById('myChart'));
                            chart.draw(data, options);
                        }
                    </script>