
<!-- main content -->
<section class="content patients">
    <div class="container-fluid">
        <div class="block-header">
            <h2>All Student</h2>
            <small class="text-muted">Welcome to Kingster application</small>
        </div>
        
        <div class="row">
                               


     

         <table id="example" class="table col-12 table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone No.</th>
                <th>Course</th>
                <th>Qualification</th>
            </tr>
        </thead>
        <tbody>
            {{#each allStudents}}
            <tr>
                <td>{{this.fname}}</td>
                <td>{{this.email}}</td>
                <td>{{this.mobile}}</td>
                <td>{{this.course}}</td>
                <td>{{this.QUALIFICATION}}</td>
            </tr>
                            {{/each}}
         
        </tbody>
       
    </table>
<script>

document.addEventListener("DOMContentLoaded", function() {
  // code...
  const table = document.getElementById('example')
  new DataTable(table,{
    width :'100%'
  });
    
</script>

<style>
    .dataTable-wrapper{
        width: 100% !important;
    }
</style>



        </div>
</section>
<!-- main content -->

<div class="color-bg"></div>
