

<!-- main content -->
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>All Courses</h2>
            <small class="text-muted">Welcome to Kingster University application</small>
        </div>
        <div class="row clearfix">
            {{#each viewcourses}}            
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="thumbnail card">
                    <img src="assets/images/course-3.jpg" alt=""  class="img-fluid">
                    <div class="caption  body">
                        <h3>{{this.coures}}</h3>
                        <p>{{this.department}}</p>
                        <p>Price: <strong class="col-blush">₹{{this.price}}</strong> Course Duration: <strong class="col-green">{{this.duration}}</strong></p>
                        <p></strong> Year Of Ending: <strong class="col-green">{{this.year}}</strong></p>
                        <p>Starts From:<strong>{{format this.date}}</strong></p>
                        <p>Prof.: <strong>Prof.{{this.incharge}}</strong></p>
                        <p>Program: <strong class="col-green">{{this.program}}</strong></p>
                         <p>Course Description: <strong class="col-green">{{this.discription}}</strong></p>
                        <p>Students: <strong class="col-green">115</strong></p>
                    </div>
                </div>
            </div>
       {{/each}}
            <div class="col-sm-12 text-center">
                <a href="#" class="btn btn-raised waves-effect g-bg-blush2" role="button">Load more</a>
            </div>
        </div>
        
    </div>
</section>

<div class="color-bg"></div>
