</header><!-- header -->
<div class="kingster-page-title-wrap  kingster-style-custom kingster-left-align" style="background-image: none;">
	<div class="kingster-header-transparent-substitute"></div>
	<div class="kingster-page-title-overlay"></div>
	<div class="kingster-page-title-container kingster-container">
		<div class="kingster-page-title-content kingster-item-pdlr" style="padding-top: 91px ;padding-bottom: 0px ;">
			<div class="kingster-page-caption"
				style="font-size: 21px ;font-weight: 400 ;letter-spacing: 0px ;color: #516894 ;">ACC101</div>
			<h1 class="kingster-page-title"
				style="font-size: 45px ;font-weight: 700 ;text-transform: none ;letter-spacing: 0px ;color: #161616 ;">
				Introduction to {{viewcourses.course}}</h1>
		</div>
	</div>
</div>
<div class="kingster-breadcrumbs" style="padding-top: 12px ;padding-bottom: 60px ;">
	<div class="kingster-breadcrumbs-container kingster-container">
		<div class="kingster-breadcrumbs-item kingster-item-pdlr">
			<!-- Breadcrumb NavXT 7.0.2 -->
			<span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage"
					title="Go to Kingster." href="https://demo.goodlayers.com/kingster" class="home"><span
						property="name">Home</span></a>
				<meta property="position" content="1">
			</span>&gt;<span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage"
					title="Go to the Accounting Required Courses Course Category archives."
					href="https://demo.goodlayers.com/kingster/course_category/accounting-required-courses/"
					class="taxonomy course_category"><span property="name">Required Courses</span></a>
				<meta property="position" content="2">
			</span>&gt;<span property="itemListElement" typeof="ListItem"><span property="name">Introduction to
					{{viewcourses.course}}</span>
				<meta property="position" content="3">
			</span>
		</div>
	</div>
</div>
<div class="kingster-page-wrapper" id="kingster-page-wrapper">
	<div class="gdlr-core-page-builder-body">
		<div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 30px 0px;">
			<div class="gdlr-core-pbf-background-wrap"></div>
			<div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
				<div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
					<div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js "
							style="padding: 0px 10px 0px 0px;">
							<div class="gdlr-core-pbf-background-wrap"></div>
							<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
								<div class="gdlr-core-pbf-element">
									<div
										class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr">
										<div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle"
											style="border-width: 0px;"><a class="gdlr-core-lightgallery gdlr-core-js "
												href="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2016/06/shutterstock_361397258.jpg"><img
													src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2016/06/shutterstock_361397258-550x500.jpg"
													width="550" height="500"
													srcset="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2016/06/shutterstock_361397258-400x363.jpg 400w, https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2016/06/shutterstock_361397258-550x500.jpg 550w"
													sizes="(max-width: 767px) 100vw, (max-width: 1150px) 33vw, 383px"
													alt="" /><span class="gdlr-core-image-overlay "><i
														class="gdlr-core-image-overlay-icon  gdlr-core-size-22 fa fa-search"></i></span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gdlr-core-pbf-column gdlr-core-column-40">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js "
							style="padding: 0px 0px 100px 0px;">
							<div class="gdlr-core-pbf-background-wrap"></div>
							<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-course-info-item gdlr-core-item-pdlr gdlr-core-item-pdb"
										style="padding-bottom: 45px ;">
										<div class="gdlr-core-course-info-item-inner clearfix"
											style="color: #ffffff ;background-color: #3db166 ;">
											<div
												class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
												<div class="gdlr-core-head">Course ID</div>
												<div class="gdlr-core-tail">ACC101</div>
											</div>
											<div class="gdlr-core-pbf-column gdlr-core-column-20">
												<div class="gdlr-core-head">Campus</div>
												<div class="gdlr-core-tail">KU2 Hill</div>
											</div>
											<div class="gdlr-core-pbf-column gdlr-core-column-20">
												<div class="gdlr-core-head">Level</div>
												<div class="gdlr-core-tail">Undergraduate</div>
											</div>
											<div
												class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
												<div class="gdlr-core-head">Semester</div>
												<div class="gdlr-core-tail">{{viewcourses.duration}}</div>
											</div>
											<div class="gdlr-core-pbf-column gdlr-core-column-20">
												<div class="gdlr-core-head">Course Fee</div>
												<div class="gdlr-core-tail">{{viewcourses.price}}</div>
											</div>
											<div class="gdlr-core-pbf-column gdlr-core-column-20">
												<div class="gdlr-core-head">Method</div>
												<div class="gdlr-core-tail">Lecture</div>
											</div>
										</div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
										style="padding-bottom: 10px ;">
										<div class="gdlr-core-text-box-item-content"
											style="font-size: 21px ;text-transform: none ;color: #3db166 ;">
											<p>If you&#8217;re an educational professional who are looking to progress
												into management and consultancy, or an educational planning or
												development role, this is the best degree for you.</p>
										</div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div
										class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align">
										<div class="gdlr-core-divider-line gdlr-core-skin-divider"
											style="border-color: #3db166 ;border-width: 3px;"></div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
										style="padding-bottom: 20px ;">
										<div class="gdlr-core-text-box-item-content"
											style="font-size: 17px ;text-transform: none ;">
											<p>{{viewcourses.discription}}</p>

										</div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div
										class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
										<div class="gdlr-core-text-box-item-content" style="text-transform: none ;">
											<div style="overflow-x: auto;">
												<table style="min-width: 835px;">
													<tbody>
														<tr>
															<th>Time</th>
															<th>Place</th>
															<th>Room</th>
															<th>Date Range</th>
															<th>Instructor</th>
														</tr>
														<tr>
															<td>9:00am &#8211; 11:00am</td>
															<td>KU2 Hill</td>
															<td>203</td>
															<td>Aug 21, 2018 &#8211; Dec 15, 2018</td>
															<td>Aswanth E K (PhD)</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gdlr-core-pbf-wrapper " style="padding: 75px 0px 60px 0px;">
			<div class="gdlr-core-pbf-background-wrap" style="background-color: #192f59 ;"></div>
			<div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
				<div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
					<div class="gdlr-core-pbf-column gdlr-core-column-36 gdlr-core-column-first">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js "
							style="margin: -130px 0px 0px 0px;padding: 0px 40px 0px 0px;">
							<div class="gdlr-core-pbf-background-wrap"></div>
							<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
								<div class="gdlr-core-pbf-element">
									<div
										class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr">
										<div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle"
											style="border-width: 0px;"><img
												src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2016/06/shutterstock_218235004.jpg"
												width="2000" height="1334"
												srcset="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2016/06/shutterstock_218235004-400x266.jpg 400w, https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2016/06/shutterstock_218235004-600x400.jpg 600w, https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2016/06/shutterstock_218235004-800x533.jpg 800w, https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2016/06/shutterstock_218235004.jpg 2000w"
												sizes="(max-width: 767px) 100vw, (max-width: 1150px) 60vw, 690px"
												alt="" /></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gdlr-core-pbf-column gdlr-core-column-24">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js "
							style="padding: 45px 70px 0px 0px;">
							<div class="gdlr-core-pbf-background-wrap"></div>
							<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
										style="padding-bottom: 29px ;">
										<div class="gdlr-core-text-box-item-content"
											style="font-size: 23px ;text-transform: none ;color: #ffffff ;">
											<p>The PLP in Drafting Legislation, Regulation, and Policy has been offered
												by the Institute of Advanced Legal Studies with considerable success
												since 2004.</p>
										</div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div
										class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
										<a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border"
											href="/login"
											style="font-size: 14px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;margin: 0px 10px 10px 0px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #3db166 ;"><span
												class="gdlr-core-content">Apply</span><i
												class="gdlr-core-pos-right fa fa-external-link"
												style="font-size: 14px ;"></i></a><a
											class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border"
											href="#"
											style="font-size: 14px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #3db166 ;"><span
												class="gdlr-core-content">Download Brochure</span><i
												class="gdlr-core-pos-right fa fa-file-pdf-o"
												style="font-size: 14px ;"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gdlr-core-pbf-wrapper " style="padding: 80px 0px 45px 0px;">
			<div class="gdlr-core-pbf-background-wrap"></div>
			<div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
				<div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
					<div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
							<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js "></div>
						</div>
					</div>
					<div class="gdlr-core-pbf-column gdlr-core-column-40">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
							<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
								<div class="gdlr-core-pbf-element">
									<div
										class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
										<div class="gdlr-core-text-box-item-content"
											style="font-size: 18px ;text-transform: none ;">
											<p>The programme aims to promote an understanding of the principles of
												legislative and an awareness of what constitutes legislative quality,
												how this can be achieved.</p>
											<p><u>Legislative drafting is often perceived as a skill</u> that one learns
												on the job.<br />Legislative drafting has evolved to become the bedrock
												of political, economic and social transformation. The view of the
												Institute’s Sir William Doe Centre for Legislative Studies is that
												legislative drafting is a practical discipline requiring awareness of
												the principles of drafting along with great experience on the job. It is
												still, however, relatively unexplored as a discipline. The PLP examines
												issues related to the policy process, the legislative process and the
												drafting process.</p>
											<p><span style="color: #3db166;">The PLP is aimed at those seeking a
													career</span> in legislative drafting, those already working as
												drafters or those who want a career in or already working for,
												organizations that produce different types of normative acts. Many of
												our students are mid-career drafters employed by government (for
												example, by LG Chambers, the Ministry of Justice or any other
												ministries).</p>
										</div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align"
										style="margin-bottom: 60px ;">
										<div class="gdlr-core-divider-line gdlr-core-skin-divider"
											style="border-color: #3db166 ;border-width: 3px;"></div>
									</div>
								</div>
								<div class="gdlr-core-pbf-element">
									<div
										class="gdlr-core-accordion-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-accordion-style-background-title-icon gdlr-core-left-align gdlr-core-icon-pos-right">
										<div class="gdlr-core-accordion-item-tab clearfix  gdlr-core-active">
											<div
												class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon ">
											</div>
											<div class="gdlr-core-accordion-item-content-wrapper">
												<h4
													class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">
													Entry requirements</h4>
												<div class="gdlr-core-accordion-item-content">
													<p>Provided by the KU Institute of Education, this programme is
														available by distance learning, allowing you to study flexibly
														while balancing work and personal lifes.</p>
													<p>The MSc Finance (EG. Banking) deepens your understanding of banks
														and financial markets, and how they relate to performance. It
														will help you to advance your career in finance and
														policy.<br />
														<span class="gdlr-core-space-shortcode"
															style="margin-top: 10px ;"></span><br />
														<i class="fa fa-dot-circle-o"
															style="font-size: 16px ;margin-right: 11px ;"></i>Banking
													</p>
													<p><i class="fa fa-dot-circle-o"
															style="font-size: 16px ;margin-right: 11px ;"></i>Economic
														Policy</p>
													<p><i class="fa fa-dot-circle-o"
															style="font-size: 16px ;margin-right: 11px ;"></i>Financial
														Sector Management</p>
													<p><i class="fa fa-dot-circle-o"
															style="font-size: 16px ;margin-right: 11px ;"></i>Quantitative
														Finance</p>
												</div>
											</div>
										</div>
										<div class="gdlr-core-accordion-item-tab clearfix ">
											<div
												class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon ">
											</div>
											<div class="gdlr-core-accordion-item-content-wrapper">
												<h4
													class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">
													Course structure and modules</h4>
												<div class="gdlr-core-accordion-item-content">
													<p>Provided by the KU Institute of Education, this programme is
														available by distance learning, allowing you to study flexibly
														while balancing work and personal lifes.</p>
													<p>The MSc Finance (EG. Banking) deepens your understanding of banks
														and financial markets, and how they relate to performance. It
														will help you to advance your career in finance and
														policy.<br />
														<span class="gdlr-core-space-shortcode"
															style="margin-top: 10px ;"></span><br />
														<i class="fa fa-dot-circle-o"
															style="font-size: 16px ;margin-right: 11px ;"></i>Banking
													</p>
													<p><i class="fa fa-dot-circle-o"
															style="font-size: 16px ;margin-right: 11px ;"></i>Economic
														Policy</p>
													<p><i class="fa fa-dot-circle-o"
															style="font-size: 16px ;margin-right: 11px ;"></i>Financial
														Sector Management</p>
													<p><i class="fa fa-dot-circle-o"
															style="font-size: 16px ;margin-right: 11px ;"></i>Quantitative
														Finance</p>
												</div>
											</div>
										</div>
										<div class="gdlr-core-accordion-item-tab clearfix ">
											<div
												class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon ">
											</div>
											<div class="gdlr-core-accordion-item-content-wrapper">
												<h4
													class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">
													How you study</h4>
												<div class="gdlr-core-accordion-item-content">
													<p>Provided by the KU Institute of Education, this programme is
														available by distance learning, allowing you to study flexibly
														while balancing work and personal lifes.</p>
													<p>The MSc Finance (EG. Banking) deepens your understanding of banks
														and financial markets, and how they relate to performance. It
														will help you to advance your career in finance and
														policy.<br />
														<span class="gdlr-core-space-shortcode"
															style="margin-top: 10px ;"></span><br />
														<i class="fa fa-dot-circle-o"
															style="font-size: 16px ;margin-right: 11px ;"></i>Banking
													</p>
													<p><i class="fa fa-dot-circle-o"
															style="font-size: 16px ;margin-right: 11px ;"></i>Economic
														Policy</p>
													<p><i class="fa fa-dot-circle-o"
															style="font-size: 16px ;margin-right: 11px ;"></i>Financial
														Sector Management</p>
													<p><i class="fa fa-dot-circle-o"
															style="font-size: 16px ;margin-right: 11px ;"></i>Quantitative
														Finance</p>
												</div>
											</div>
										</div>
										<div class="gdlr-core-accordion-item-tab clearfix ">
											<div
												class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon ">
											</div>
											<div class="gdlr-core-accordion-item-content-wrapper">
												<h4
													class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">
													Career opportunities</h4>
												<div class="gdlr-core-accordion-item-content">
													<p>Provided by the KU Institute of Education, this programme is
														available by distance learning, allowing you to study flexibly
														while balancing work and personal lifes.</p>
													<p>The MSc Finance (EG. Banking) deepens your understanding of banks
														and financial markets, and how they relate to performance. It
														will help you to advance your career in finance and
														policy.<br />
														<span class="gdlr-core-space-shortcode"
															style="margin-top: 10px ;"></span><br />
														<i class="fa fa-dot-circle-o"
															style="font-size: 16px ;margin-right: 11px ;"></i>Banking
													</p>
													<p><i class="fa fa-dot-circle-o"
															style="font-size: 16px ;margin-right: 11px ;"></i>Economic
														Policy</p>
													<p><i class="fa fa-dot-circle-o"
															style="font-size: 16px ;margin-right: 11px ;"></i>Financial
														Sector Management</p>
													<p><i class="fa fa-dot-circle-o"
															style="font-size: 16px ;margin-right: 11px ;"></i>Quantitative
														Finance</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="">
	<div class="kingster-footer-wrapper ">
		<div class="kingster-footer-container kingster-container clearfix">
			<div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
				<div id="text-2" class="widget widget_text kingster-widget">
					<div class="textwidget">
						<p><img src="https://a6e8z9v6.stackpathcdn.com/kingster/wp-content/uploads/2018/08/footer-logo.png"
								alt="" /><br />
							<span class="gdlr-core-space-shortcode" style="margin-top: 5px ;"></span><br />
							HighWay 35300<br />
							1810 Campus Way KL<br />
							kerala, KL 98011-8246
						</p>
						<p><span style="font-size: 15px; color: #ffffff;">+1-2534-4456-345</span><br />
							<span class="gdlr-core-space-shortcode" style="margin-top: -20px ;"></span><br />
							<a style="font-size: 15px; color: #ffffff;"
								href="/cdn-cgi/l/email-protection#6c0d080105022c0705020b1f18091e19020542090819"><span
									class="__cf_email__"
									data-cfemail="28494c454146684341464f5b5c4d5a5d4641064d4c5d">university@kingster.ac.kl</span></a>
						</p>
						<div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-left-align">
							<div class="gdlr-core-divider-line gdlr-core-skin-divider"
								style="border-color: #3db166 ;border-width: 2px;"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
				<div id="gdlr-core-custom-menu-widget-2"
					class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
					<h3 class="kingster-widget-title">Our Campus</h3><span class="clear"></span>
					<div class="menu-our-campus-container">
						<ul id="menu-our-campus" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5709 kingster-normal-menu">
								<a href="#">Acedemic</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5710 kingster-normal-menu">
								<a href="#">Planning &#038; Administration</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5711 kingster-normal-menu">
								<a href="#">Campus Safety</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5712 kingster-normal-menu">
								<a href="#">Office of the Chancellor</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5713 kingster-normal-menu">
								<a href="#">Facility Services</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5714 kingster-normal-menu">
								<a href="#">Human Resources</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
				<div id="gdlr-core-custom-menu-widget-3"
					class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
					<h3 class="kingster-widget-title">Campus Life</h3><span class="clear"></span>
					<div class="menu-campus-life-container">
						<ul id="menu-campus-life" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5715 kingster-normal-menu">
								<a href="#">Accessibility</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5716 kingster-normal-menu">
								<a href="#">Financial Aid</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5717 kingster-normal-menu">
								<a href="#">Food Services</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5718 kingster-normal-menu">
								<a href="#">Housing</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5719 kingster-normal-menu">
								<a href="#">Information Technologies</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5720 kingster-normal-menu">
								<a href="#">Student Life</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
				<div id="gdlr-core-custom-menu-widget-4"
					class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
					<h3 class="kingster-widget-title">Academics</h3><span class="clear"></span>
					<div class="menu-academics-container">
						<ul id="menu-academics" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5721 kingster-normal-menu">
								<a href="#">Canvas</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5722 kingster-normal-menu">
								<a href="#">Catalyst</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5723 kingster-normal-menu">
								<a href="#">Library</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5724 kingster-normal-menu">
								<a href="#">Time Schedule</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5725 kingster-normal-menu">
								<a href="#">Apply For Admissions</a>
							</li>
							<li
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5726 kingster-normal-menu">
								<a href="#">Pay My Tuition</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="kingster-copyright-wrapper">
		<div class="kingster-copyright-container kingster-container clearfix">
			<div class="kingster-copyright-left kingster-item-pdlr">Copyright All Right Reserved 2018, GoodLayers</div>
			<div class="kingster-copyright-right kingster-item-pdlr">
				<div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align"
					style="padding-bottom: 0px ;"><a href="#" target="_blank" class="gdlr-core-social-network-icon"
						title="facebook"><i class="fa fa-facebook"></i></a><a href="#" target="_blank"
						class="gdlr-core-social-network-icon" title="google-plus"><i
							class="fa fa-google-plus"></i></a><a href="#" target="_blank"
						class="gdlr-core-social-network-icon" title="linkedin"><i class="fa fa-linkedin"></i></a><a
						href="#" target="_blank" class="gdlr-core-social-network-icon" title="skype"><i
							class="fa fa-skype"></i></a><a href="#" target="_blank"
						class="gdlr-core-social-network-icon" title="twitter"><i class="fa fa-twitter"></i></a><a
						href="#" target="_blank" class="gdlr-core-social-network-icon" title="instagram"><i
							class="fa fa-instagram"></i></a></div>
			</div>
		</div>
	</div>
</footer>
</div>
</div>