<!-- Header Layout -->
<div class="mdk-header-layout js-mdk-header-layout">

    <!-- Header -->

    <div id="header" data-fixed class="mdk-header js-mdk-header mb-0">
        <div class="mdk-header__content">

            <!-- Navbar -->
            <nav id="default-navbar" class="navbar navbar-expand navbar-dark bg-primary m-0">
                <div class="container-fluid">
                    <!-- Toggle sidebar -->
                    <button class="navbar-toggler d-block" data-toggle="sidebar" type="button">
                        <span class="material-icons">menu</span>
                    </button>

                    <!-- Brand -->
                    <a href="student-dashboard.html" class="navbar-brand">
                        <img src="assets/images/logo/white.svg" class="mr-2" alt="LearnPlus" />
                        <span class="d-none d-xs-md-block">Kingster University</span>
                    </a>

                    <!-- Search -->
                    <form class="search-form d-none d-md-flex">
                        <input type="text" class="form-control" placeholder="Search">
                        <button class="btn" type="button"><i class="material-icons font-size-24pt">search</i></button>
                    </form>
                    <!-- // END Search -->

                    <div class="flex"></div>
                    <!-- Menu -->
                    <ul class="nav navbar-nav flex-nowrap">

                        <!-- Notifications dropdown -->
                        <li class="nav-item dropdown dropdown-notifications dropdown-menu-sm-full">
                            <button class="nav-link btn-flush dropdown-toggle" type="button" data-toggle="dropdown"
                                data-dropdown-disable-document-scroll data-caret="false">
                                <i class="material-icons">notifications</i>
                                <span class="badge badge-notifications badge-danger">.</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div data-perfect-scrollbar class="position-relative">
                                    <div class="dropdown-header"><strong>Notifications</strong></div>
                                    <div class="list-group list-group-flush mb-0">
                                        {{#each notification}}
                                        <a href="/notification"
                                            class="list-group-item list-group-item-action border-left-3 border-left-danger">
                                            <span class="d-flex">
                                                <span class="avatar avatar-xs mr-2">
                                                    <span class="avatar-title rounded-circle bg-light">
                                                        <i
                                                            class="material-icons font-size-16pt text-danger">notifications</i>
                                                    </span>
                                                </span>
                                                <span class="flex d-flex flex-column">

                                                    <span class="text-black-70">{{this.header}}</span>
                                                </span>
                                            </span>
                                        </a>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- // END Notifications dropdown -->
                        <!-- User dropdown -->
                        <li class="nav-item dropdown ml-1 ml-md-3">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"><img
                                    src="assets/images/people/50/guy-6.jpg" alt="Avatar" class="rounded-circle"
                                    width="40"></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="/studentdash">
                                    <i class="material-icons">account_box</i> Dashboard
                                </a>
                                <a class="dropdown-item" href="/studentprofile">
                                    <i class="material-icons">edit</i> Edit Account
                                </a>
                                <a class="dropdown-item" href="/logout">
                                    <i class="material-icons">lock</i> Logout
                                </a>
                            </div>
                        </li>
                        <!-- // END User dropdown -->

                    </ul>
                    <!-- // END Menu -->
                </div>
            </nav>
            <!-- // END Navbar -->

        </div>
    </div>

    <!-- // END Header -->

    <style>
        .notice {
            padding: 15px;
            background-color: #fafafa;
            border-left: 6px solid #7f7f84;
            margin-bottom: 10px;
            -webkit-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
            -moz-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
            box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
        }

        .notice-sm {
            padding: 10px;
            font-size: 80%;
        }

        .notice-lg {
            padding: 35px;
            font-size: large;
        }

        .notice-success {
            border-color: #80D651;
        }

        .notice-success>strong {
            color: #80D651;
        }

        .notice-info {
            border-color: #45ABCD;
        }

        .notice-info>strong {
            color: #45ABCD;
        }

        .notice-warning {
            border-color: #FEAF20;
        }

        .notice-warning>strong {
            color: #FEAF20;
        }

        .notice-danger {
            border-color: #d73814;
        }

        .notice-danger>strong {
            color: #d73814;
        }
    </style>

    <!-- Header Layout Content -->
    <div class="mdk-header-layout__content">


        <div data-push data-responsive-width="992px" class="mdk-drawer-layout js-mdk-drawer-layout">
            <div class="mdk-drawer-layout__content page ">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                    data-whatever="Any Queries? Ask Us">Any Queries? Ask
                    Us</button>
                <div class="container-fluid page__container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/studentdash">Home</a></li>
                        <li class="breadcrumb-item active">Notifications</li>
                    </ol>
                    <h1 class="h2">Notifications</h1>

                    <div class="container">
                        {{#each notification}}
                        <div class="notice notice-success">
                            <small>{{format this.updatedAt}}</small>
                            <br>
                            <strong>Notice</strong>
                            <br>
                            <small>
                                <strong>{{this.header}}</strong>
                                <br>
                                {{this.notification}}
                            </small>
                        </div>
                        {{/each}}
                    </div>
                </div>

            </div>

            <div class="mdk-drawer js-mdk-drawer" id="default-drawer">
                <div class="mdk-drawer__content ">
                    <div class="sidebar sidebar-left sidebar-dark bg-dark o-hidden" data-perfect-scrollbar>
                        <div class="sidebar-p-y">
                            <div class="sidebar-heading">APPLICATIONS</div>
                            <ul class="sidebar-menu sm-active-button-bg">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/studentdash">
                                        <i
                                            class="sidebar-menu-icon sidebar-menu-icon--left material-icons">account_box</i>
                                        Dashboard
                                    </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/application">
                                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">book</i>
                                        All Application Form(s)
                                        <a class="sidebar-menu-button" href="/application">
                                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">book</i>
                                            Application Form
                                        </a>
                                </li>
                            </ul>
                            <!-- Account menu -->
                            <div class="sidebar-heading">Account</div>
                            <ul class="sidebar-menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button sidebar-js-collapse" data-toggle="collapse"
                                        href="#account_menu">
                                        <i
                                            class="sidebar-menu-icon sidebar-menu-icon--left material-icons">person_outline</i>
                                        Account
                                        <span class="ml-auto sidebar-menu-toggle-icon"></span>
                                    </a>
                                    <ul class="sidebar-submenu sm-indent collapse" id="account_menu">
                                        <li class="sidebar-menu-item">
                                            <a class="sidebar-menu-button" href="/history">
                                                <span class="sidebar-menu-text">Payment History</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" data-toggle="collapse" href="#messages_menu">
                                        <i
                                            class="sidebar-menu-icon sidebar-menu-icon--left material-icons">notifications</i>
                                        Notifications
                                        <span class="ml-auto sidebar-menu-toggle-icon"></span>
                                    </a>
                                    <ul class="sidebar-submenu sm-indent collapse" id="messages_menu">
                                        <li class="sidebar-menu-item">
                                            <a class="sidebar-menu-button" href="/notification">
                                                <span class="sidebar-menu-text">Notifications</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="sidebar-heading">Student</div>
                            <ul class="sidebar-menu sm-active-button-bg">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/quary">
                                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">message</i>
                                        My Queries
                                    </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/showStudentAttendance">
                                        <i
                                            class="sidebar-menu-icon sidebar-menu-icon--left material-icons">import_contacts</i>
                                        View Attendance
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ask your Query</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="query" onsubmit="askQuery(event)">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">name:</label>
                        <input type="text" class="form-control" id="recipient-name" name="urname"
                            value="{{user.fname}}">
                    </div>
                    <div class="form-group col-md-12">
                        <label class="form-label">Query Category*</label>
                        <div class="form">
                            <select class="form-control" name="queryCategory" required>
                                <option class="active-selected" value="">Select Query Category</option>
                                {{#each viewprogram}}
                                <option value="{{this.program}}">{{this.program}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="form-label">Select Form*</label>
                        <div class="form">
                            <select class="form-control" name="selectForm" required>
                                <option class="active-selected" value="">Select Form</option>
                                {{#each viewcourses}}
                                <option value="{{this.course}}">{{this.course}}</option>
                                {{/each}}

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text" name="message" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#submitModal">
                            Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ask your Query</h5>
                <button type="button" class="btn">
                    <a href="/quary"> My Queries</a>
                </button>
            </div>
            <div class="modal-body">
                <form method="get" action="/askQuary">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Dear {{user.fname}},</label>
                        <p>We are in receipt of your query. your quary will be answered shortly.You may check the status
                            of your quary at <a href="/quary">My Queries</a></p>
                    </div>
                    <div>
                        <p>Best wishes, <br> Kingster University</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="closeModal()" id="close" class="close" data-dismiss="modal"
                            aria-label="Close">ok</button>
                        {{!-- <button type="" class="btn btn-primary">ok</button> --}}
                    </div>
                </form>
            </div>
        </div>
    </div>
     <button type="button" class="btn btn-primary"  style="margin-left:940px;" data-toggle="modal" data-target="#exampleModal"
                data-whatever="Any Queries? Ask Us">Any Queries? Ask
                Us</button>
</div>

<script src="js/jquery-3.5.1.min.js"></script>
<script>
    function closeModal() {
        $("#exampleModal").modal('hide');
    };

    function askQuery(e) {
        e.preventDefault()

        $.ajax({
            url: "/getquery",
            method: "POST",
            data: $('#query').serialize()

        })
    }
</script>