<!-- Header Layout -->
<div class="mdk-header-layout js-mdk-header-layout">

    <!-- Header -->

    <div id="header" data-fixed class="mdk-header js-mdk-header mb-0">
        <div class="mdk-header__content">

            <!-- Navbar -->
            <nav id="default-navbar" class="navbar navbar-expand navbar-dark bg-primary m-0">
                <div class="container-fluid">

                    <!-- Brand -->
                    <a href="/" class="navbar-brand">
                        <img src="/assets/images/logo/white.svg" class="mr-2" alt="LearnPlus" />
                        <span class="d-none d-xs-md-block">Kingster University</span>
                    </a>

                    <!-- Search -->
                    <form class="search-form d-none d-md-flex">
                        <input type="text" class="form-control" placeholder="Search">
                        <button class="btn" type="button"><i class="material-icons font-size-24pt">search</i></button>
                    </form>
                    <!-- // END Search -->

                    <div class="flex"></div>
                    <!-- Menu -->
                    <ul class="nav navbar-nav flex-nowrap">

                        <!-- Notifications dropdown -->
                        <li class="nav-item dropdown dropdown-notifications dropdown-menu-sm-full">
                            <button class="nav-link btn-flush dropdown-toggle" type="button" data-toggle="dropdown"
                                data-dropdown-disable-document-scroll data-caret="false">
                                <i class="material-icons">notifications</i>
                                <span class="badge badge-notifications badge-danger">.</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div data-perfect-scrollbar class="position-relative">
                                    <div class="dropdown-header"><strong>Notifications</strong></div>
                                    <div class="list-group list-group-flush mb-0">
                                        {{#each notification}}
                                        <a href="/notification"
                                            class="list-group-item list-group-item-action border-left-3 border-left-danger">
                                            <span class="d-flex">
                                                <span class="avatar avatar-xs mr-2">
                                                    <span class="avatar-title rounded-circle bg-light">
                                                        <i
                                                            class="material-icons font-size-16pt text-danger">notifications</i>
                                                    </span>
                                                </span>
                                                <span class="flex d-flex flex-column">

                                                    <span class="text-black-70">{{this.header}}</span>
                                                </span>
                                            </span>
                                        </a>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- // END Notifications dropdown -->
                        <!-- User dropdown -->
                        <li class="nav-item dropdown ml-1 ml-md-3">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"><img
                                    src="/assets/images/people/50/guy-6.jpg" alt="Avatar" class="rounded-circle"
                                    width="40"></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="/studentdash">
                                    <i class="material-icons">account_box</i> Dashboard
                                </a>
                                <a class="dropdown-item" href="/studentprofile">
                                    <i class="material-icons">edit</i> Edit Account
                                </a>
                                <a class="dropdown-item" href="/logout">
                                    <i class="material-icons">lock</i> Logout
                                </a>
                            </div>
                        </li>
                        <!-- // END User dropdown -->

                    </ul>
                    <!-- // END Menu -->
                </div>
            </nav>
            <!-- // END Navbar -->

        </div>
    </div>

    <!-- // END Header -->
    <!-- Header Layout Content -->
    <div class="mdk-header-layout__content">

        <div data-push data-responsive-width="992px" class="mdk-drawer-layout js-mdk-drawer-layout">
            <div class="mdk-drawer-layout__content page ">

                <div class="container-fluid page__container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/studentdash">Home</a></li>
                        <li class="breadcrumb-item active">My Profile</li>
                    </ol>
                    <h1 class="h2">My Profile</h1>

                    <div class="card">
                        <ul class="nav nav-tabs nav-tabs-card">
                            <li class="nav-item">
                                <a class="nav-link active" href="#first" data-toggle="tab">Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#second" data-toggle="tab">Change Password</a>
                            </li>
                        </ul>
                        <div class="tab-content card-body">
                            <div class="tab-pane active" id="first">
                                <form action="#" class="form-horizontal">
                                    <div class="form-group row">
                                        <label for="name" class="col-sm-3 col-form-label form-label">Full
                                            Name</label>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input id="name" type="text" class="form-control"
                                                        placeholder="First Name" value="{{user.fname}}">
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" placeholder="Last Name"
                                                        value="{{user.lname}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="email" class="col-sm-3 col-form-label form-label">Email</label>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="material-icons md-18 text-muted">mail</i>
                                                    </div>
                                                </div>
                                                <input type="text" id="email" class="form-control"
                                                    placeholder="Email Address" value="{{user.email}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="password" class="col-sm-3 col-form-label form-label">Phone
                                            Number</label>
                                        <div class="col-sm-6 col-md-4">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="material-icons md-18 text-muted">phone</i>
                                                    </div>
                                                </div>
                                                <input type="number" name="mobile" id="PhoneNumber" class="form-control"
                                                    placeholder="Enter Phone Number" value="{{user.mobile}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="state" class="col-sm-3 col-form-label form-label">State</label>
                                        <div class="col-sm-6 col-md-4">
                                            <select class="select" name="state" style="width: 100%;padding: 7.5px;">
                                                <option value="{{user.state}}" selected></option>
                                                <option value="{{user.state}}">ANDAMAN AND NICOBAR</option>
                                                <option value="{{user.state}}">ANDHRA PRADESH</option>
                                                <option value="{{user.state}}">ARUNACHAL PRADESH</option>
                                                <option value="{{user.state}}">BIHAR</option>
                                                <option value="{{user.state}}">CHANDIGARH</option>
                                                <option value="{{user.state}}">CHHATTISGARH</option>
                                                <option value="{{user.state}}">DADRA AND NAGAR HAVELI
                                                </option>
                                                <option value="{{user.state}}">DAMAN AND DIU</option>
                                                <option value="{{user.state}}">DELHI</option>
                                                <option value="{{user.state}}">GOA</option>
                                                <option value="{{user.state}}">GUJARAT</option>
                                                <option value="{{user.state}}">HARYANA</option>
                                                <option value="">HIMACHAL PRADESH</option>
                                                <option value="{{user.state}}">JAMMU AND KASHMIR</option>
                                                <option value="{{user.state}}">JHARKHAND</option>
                                                <option value="{{user.state}}">KARNATAKA</option>
                                                <option value="{{user.state}}">KERALA</option>
                                                <option value="{{user.state}}">LADAKH</option>
                                                <option value="{{user.state}}">LAKSHADWEEP</option>
                                                <option value="{{user.state}}">MADHYA PRADESH</option>
                                                <option value="{{user.state}}">MAHARASHTRA</option>
                                                <option value="{{user.state}}">MANIPUR</option>
                                                <option value="{{user.state}}">MEGHALAYA</option>
                                                <option value="{{user.state}}">MIZORAM</option>
                                                <option value="{{user.state}}">NAGALAND</option>
                                                <option value="{{user.state}}">ODISHA</option>
                                                <option value="{{user.state}}">OTHER</option>
                                                <option value="{{user.state}}">PUDUCHERRY</option>
                                                <option value="{{user.state}}">PUNJAB</option>
                                                <option value="{{user.state}}">RAJASTHAN</option>
                                                <option value="{{user.state}}">SIKKIM</option>
                                                <option value="{{user.state}}">TAMIL NADU</option>
                                                <option value="{{user.state}}">TELANGANA</option>
                                                <option value="{{user.state}}">TRIPURA</option>
                                                <option value="{{user.state}}">UTTAR PRADESH</option>
                                                <option value="{{user.state}}">UTTARAKHAND</option>
                                                <option value="{{user.state}}">WEST BENGAL</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="city" class="col-sm-3 col-form-label form-label">City</label>
                                        <div class="col-sm-6 col-md-4">
                                            <select class="select" name="city" style="width: 100%;padding: 7.5px;">
                                                <option value="{{user.city}}" selected></option>
                                                <option value="{{user.city}}">New York</option>
                                                <option value="{{user.city}}">Mumbai</option>
                                                <option value="{{user.city}}">Delhi</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="password" class="col-sm-3 col-form-label form-label">GENDER</label>
                                        <div class="col-sm-6 col-md-4">
                                            <select class="select" name="gender" style="width: 100%;padding: 7.5px;">
                                                <option value=""></option>
                                                <option value="{{user.gender}}" selected>Male</option>
                                                <option value="{{user.gender}}" selected>Female</option>
                                                <option value="{{user.gender}}" selected>Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="password"
                                            class="col-sm-3 col-form-label form-label">QUALIFICATION</label>
                                        <div class="col-sm-6 col-md-4">
                                            <select class="select" name="QUALIFICATION"
                                                style="width: 100%;padding: 7.5px;">
                                                <option value=""></option>
                                                <option value="{{user.QUALIFICATION}}" selected>12th</option>
                                                <option value="{{user.QUALIFICATION}}" selected>Graduate</option>
                                                <option value="{{user.QUALIFICATION}}" selected>Post Graduate</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="password" class="col-sm-3 col-form-label form-label">Select
                                            Course</label>
                                        <div class="col-sm-6 col-md-4">
                                            <select class="select" name="Course" style="width: 100%;padding: 7.5px;">
                                                <option value=""></option>
                                                <option value="{{user.Course}}" selected>Computer Operator Pragramming
                                                    Assistant
                                                </option>
                                                <option value="{{user.Course}}" selected>Designer</option>
                                                <option value="{{user.Course}}" selected>Marketing</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="category"
                                            class="col-sm-3 col-form-label form-label">Category</label>
                                        <div class="col-sm-6 col-md-4">
                                            <select class="Category" name="Category"
                                                style="width: 100%;padding: 7.5px;">
                                                <option value=""></option>
                                                <option value="{{user.state}}" selected>General
                                                </option>
                                                <option value="{{user.Category}}" selected>OBC(Non Creamy)</option>
                                                <option value="{{user.Category}}" selected>ST</option>
                                                <option value="{{user.Category}}" selected>SC</option>
                                                <option value="{{user.Category}}" selected>Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-8 offset-sm-3">
                                            <div class="media align-items-center">
                                                <div class="media-left">
                                                    <a href="#" class="btn btn-success">Save Changes</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane" id="second">
                                <form action="/studentprofile/changepassword" method="post">
                                    <h4>Change Password</h4>
                                    <div class="card">
                                        <div class="list-group list-group-fit">
                                            <div class="list-group-item">
                                                <div class="form-group m-0" role="group"
                                                    aria-labelledby="label-password">
                                                    <div class="form-row">
                                                        {{#if invalid}}<p class="text-danger">wrong password</p>{{/if}}
                                                        <label id="label-password" for="password"
                                                            class="col-sm-3 col-form-label form-label">Current
                                                            password:</label>
                                                        <div class="col-sm-9">
                                                            <div role="group"
                                                                class="input-group input-group-merge form-control-prepended">
                                                                <input id="password" type="password" required="required"
                                                                    name="crrtPassword" placeholder="Current password"
                                                                    aria-required="true"
                                                                    class="form-control form-control-prepended">
                                                                <div class="input-group-prepend">
                                                                    <div class="input-group-text">
                                                                        <span class="far fa-key"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-group-item">
                                                <div class="form-group m-0" role="group"
                                                    aria-labelledby="label-password">
                                                    <div class="form-row">
                                                        <label id="label-password" for="password"
                                                            class="col-sm-3 col-form-label form-label">New
                                                            password:</label>
                                                        <div class="col-sm-9">
                                                            <div role="group"
                                                                class="input-group input-group-merge form-control-prepended">
                                                                <input id="password" type="password" required="required"
                                                                    placeholder="New password" aria-required="true"
                                                                    name="password"
                                                                    class="form-control form-control-prepended">

                                                                <input id="password" type="hidden"
                                                                    placeholder="New password" aria-required="true"
                                                                    name="stdid" value="{{user._id}}"
                                                                    class="form-control form-control-prepended">
                                                                <div class="input-group-prepend">
                                                                    <div class="input-group-text">
                                                                        <span class="far fa-key"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-group-item">
                                                <div class="form-group m-0" role="group"
                                                    aria-labelledby="label-password2">
                                                    <div class="form-row">
                                                        <label id="label-password2" for="password2"
                                                            class="col-sm-3 col-form-label form-label">Confirm
                                                            password:</label>
                                                        <div class="col-sm-9">
                                                            <div role="group"
                                                                class="input-group input-group-merge form-control-prepended">
                                                                <input id="password2" type="password"
                                                                    required="required" placeholder="Confirm password"
                                                                    aria-required="true"
                                                                    class="form-control form-control-prepended">
                                                                <div class="input-group-prepend">
                                                                    <div class="input-group-text">
                                                                        <span class="far fa-key"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="page-nav__content">
                                        <button class="btn btn-success" type="submit">Save Changes
                                        </button>
                                    </div>
                                </form>
                            </div>





                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>

<!-- App Settings FAB -->
<div id="app-settings">
    <app-settings layout-active="default" :layout-location="{
      'fixed': 'fixed-student-account-edit.html',
      'default': 'student-account-edit.html'
    }" sidebar-variant="bg-transparent border-0"></app-settings>
</div>

</div>
</div>