<div class="preloader">
    <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
    </div>

</div>

<!-- Header Layout -->
<div class="mdk-header-layout js-mdk-header-layout">

    <!-- Header -->

    <div id="header" data-fixed class="mdk-header js-mdk-header mb-0">
        <div class="mdk-header__content">

            <!-- Navbar -->
            <nav id="default-navbar" class="navbar navbar-expand navbar-dark bg-primary m-0">
                <div class="container-fluid">

                    <!-- Brand -->
                    <a href="student-dashboard.html" class="navbar-brand">
                        <img src="/assets/images/logo/white.svg" class="mr-2" alt="LearnPlus" />
                        <span class="d-none d-xs-md-block">Kingster University</span>
                    </a>

                    <div class="flex"></div>

                    <!-- Menu -->
                    <ul class="nav navbar-nav flex-nowrap">

                        <!-- Notifications dropdown -->
                        <li class="nav-item dropdown dropdown-notifications dropdown-menu-sm-full">
                            <button class="nav-link btn-flush dropdown-toggle" type="button" data-toggle="dropdown"
                                data-dropdown-disable-document-scroll data-caret="false">
                                <i class="material-icons">notifications</i>
                                <span class="badge badge-notifications badge-danger">.</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div data-perfect-scrollbar class="position-relative">
                                    <div class="dropdown-header"><strong>Notifications</strong></div>
                                    <div class="list-group list-group-flush mb-0">
                                        {{#each notification}}
                                        <a href="/notification"
                                            class="list-group-item list-group-item-action border-left-3 border-left-danger">
                                            <span class="d-flex">
                                                <span class="avatar avatar-xs mr-2">
                                                    <span class="avatar-title rounded-circle bg-light">
                                                        <i
                                                            class="material-icons font-size-16pt text-danger">notifications</i>
                                                    </span>
                                                </span>
                                                <span class="flex d-flex flex-column">

                                                    <span class="text-black-70">{{this.header}}</span>
                                                </span>
                                            </span>
                                        </a>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- // END Notifications dropdown -->
                        <!-- User dropdown -->
                          <li class="nav-item dropdown ml-1 ml-md-3">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"><img
                                        src="assets/images/people/50/guy-6.jpg" alt="Avatar" class="rounded-circle"
                                        width="40"></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="/studentdash">
                                        <i class="material-icons">account_box</i> Dashboard
                                    </a>
                                    <a class="dropdown-item" href="studentprofile">
                                        <i class="material-icons">edit</i> Edit Account
                                    </a>
                                    <a class="dropdown-item" href="/logout">
                                        <i class="material-icons">lock</i> Logout
                                    </a>
                                </div>
                            </li>
                        <!-- // END User dropdown -->

                    </ul>
                    <!-- // END Menu -->
                </div>
            </nav>
            <!-- // END Navbar -->

        </div>
    </div>

    <!-- // END Header -->


    <!-- Header Layout Content -->
    <div class="mdk-header-layout__content">

        <div data-push data-responsive-width="992px" class="mdk-drawer-layout js-mdk-drawer-layout">
            <div class="mdk-drawer-layout__content page ">

                <div class="container-fluid page__container p-0">
                    <div class="row m-0">
                        <div class="col-lg container-fluid page__container">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/studentdash">Home</a></li>
                                <li class="breadcrumb-item active">Payment History</li>
                            </ol>

                            <h1 class="h2">Payment History</h1>

                            <div class="card table-responsive" data-toggle="lists" data-lists-values='[
    "js-lists-values-document",
    "js-lists-values-ProgramName", 
    "js-lists-values-amount",
    "js-lists-values-status",
    "js-lists-values-date"
  ]' data-lists-sort-by="js-lists-values-document" data-lists-sort-desc="true">
                                <table class="table mb-0">
                                    <thead class="thead-light">
                                        <tr>
                                            <th colspan="4">
                                                <a href="javascript:void(0)" class="sort"
                                                    data-sort="js-lists-values-document">Document</a>
                                                <a href="javascript:void(0)" class="sort"
                                                    data-sort="js-lists-values-ProgramName">Program Name</a>
                                                <a href="javascript:void(0)" class="sort"
                                                    data-sort="js-lists-values-amount">Amount</a>
                                                <a href="javascript:void(0)" class="sort"
                                                    data-sort="js-lists-values-status">Status</a>
                                                <a href="javascript:void(0)" class="sort"
                                                    data-sort="js-lists-values-date">Date</a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="list">
                                        {{#each paymentHistory}}
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <small class="text-uppercase text-muted mr-2">Invoice</small>
                                                    <a href="/invoice/{{this._id}}" class="text-body small">#<span
                                                            class="js-lists-values-document">{{this._id}}</span></a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <small
                                                        class="text-uppercase text-muted mr-2">{{this.program.program}}{{this.course.course}}</small>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div class="d-flex align-items-center">
                                                    <small class="text-uppercase text-muted mr-2"></small>
                                                    <small class="text-uppercase">₹<span
                                                            class="js-lists-values-amount">{{this.finalAmount}}</span>INR</small>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div class="d-flex align-items-center">
                                                    <small
                                                        class="text-uppercase text-muted mr-2">{{this.paymentStatus}}</small>
                                                    <i class="material-icons text-success md-18 mr-2"></i>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <div class="d-flex align-items-center text-right">
                                                    <small class="text-uppercase text-muted mr-2">Date</small>
                                                    <small class="text-uppercase js-lists-values-date">{{format
                                                        this.updatedAt}}</small>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-primary" style="margin-left:940px;"
                                    data-toggle="modal" data-target="#exampleModal"
                                    data-whatever="Any Queries? Ask Us">Any Queries? Ask
                                    Us</button>
                            </div>

                            <!-- Pagination -->
                            <ul class="pagination justify-content-center pagination-sm">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true" class="material-icons">chevron_left</span>
                                        <span>Prev</span>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#" aria-label="1">
                                        <span>1</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="1">
                                        <span>2</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span>Next</span>
                                        <span aria-hidden="true" class="material-icons">chevron_right</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                    data-whatever="Any Queries? Ask Us">Any Queries? Ask
                    Us</button>
            </div>

            <div class="mdk-drawer js-mdk-drawer" id="default-drawer">
                <div class="mdk-drawer__content ">
                    <div class="sidebar sidebar-left sidebar-dark bg-dark o-hidden" data-perfect-scrollbar>
                        <div class="sidebar-p-y">
                            <div class="sidebar-heading">APPLICATIONS</div>
                            <ul class="sidebar-menu sm-active-button-bg">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/studentdash">
                                        <i
                                            class="sidebar-menu-icon sidebar-menu-icon--left material-icons">account_box</i>
                                        Dashboard
                                    </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/application">
                                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">book</i>
                                        All Application Form(s)
                                        <a class="sidebar-menu-button" href="/application">
                                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">book</i>
                                            Application Form
                                        </a>
                                </li>
                            </ul>
                            <!-- Account menu -->
                            <div class="sidebar-heading">Account</div>
                            <ul class="sidebar-menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button sidebar-js-collapse" data-toggle="collapse"
                                        href="#account_menu">
                                        <i
                                            class="sidebar-menu-icon sidebar-menu-icon--left material-icons">person_outline</i>
                                        Account
                                        <span class="ml-auto sidebar-menu-toggle-icon"></span>
                                    </a>
                                    <ul class="sidebar-submenu sm-indent collapse" id="account_menu">
                                        <li class="sidebar-menu-item">
                                            <a class="sidebar-menu-button" href="/history">
                                                <span class="sidebar-menu-text">Payment History</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" data-toggle="collapse" href="#messages_menu">
                                        <i
                                            class="sidebar-menu-icon sidebar-menu-icon--left material-icons">notifications</i>
                                        Notifications
                                        <span class="ml-auto sidebar-menu-toggle-icon"></span>
                                    </a>
                                    <ul class="sidebar-submenu sm-indent collapse" id="messages_menu">
                                        <li class="sidebar-menu-item">
                                            <a class="sidebar-menu-button" href="/notification">
                                                <span class="sidebar-menu-text">Notifications</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="sidebar-heading">Student</div>
                            <ul class="sidebar-menu sm-active-button-bg">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/quary">
                                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">message</i>
                                        My Queries
                                    </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/showStudentAttendance">
                                        <i
                                            class="sidebar-menu-icon sidebar-menu-icon--left material-icons">import_contacts</i>
                                        View Attendance
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ask your Query</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="query" onsubmit="askQuery(event)">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">name:</label>
                        <input type="text" class="form-control" id="recipient-name" name="urname"
                            value="{{user.fname}}">
                    </div>
                    <div class="form-group col-md-12">
                        <label class="form-label">Query Category*</label>
                        <div class="form">
                            <select class="form-control" name="queryCategory" required>
                                <option class="active-selected" value="">Select Query Category</option>
                                {{#each viewprogram}}
                                <option value="{{this.program}}">{{this.program}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="form-label">Select Form*</label>
                        <div class="form">
                            <select class="form-control" name="selectForm" required>
                                <option class="active-selected" value="">Select Form</option>
                                {{#each viewcourses}}
                                <option value="{{this.course}}">{{this.course}}</option>
                                {{/each}}

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text" name="message" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#submitModal">
                            Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ask your Query</h5>
                <button type="button" class="btn">
                    <a href="/quary"> My Queries</a>
                </button>
            </div>
            <div class="modal-body">
                <form method="get" action="/askQuary">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Dear {{user.fname}},</label>
                        <p>We are in receipt of your query. your quary will be answered shortly.You may check the status
                            of your quary at <a href="/quary">My Queries</a></p>
                    </div>
                    <div>
                        <p>Best wishes, <br> Kingster University</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="closeModal()" id="close" class="close" data-dismiss="modal"
                            aria-label="Close">ok</button>
                        {{!-- <button type="" class="btn btn-primary">ok</button> --}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery-3.5.1.min.js"></script>
<script>
    function closeModal() {
        $("#exampleModal").modal('hide');
    };

    function askQuery(e) {
        e.preventDefault()

        $.ajax({
            url: "/getquery",
            method: "POST",
            data: $('#query').serialize()

        })
    }
</script>
